:root {
  --mainSpacing: 0.1rem;
  --mainTranstion: all .4s ease-in-out;
}
.contentArea {
  margin: auto;
  background-color: lightblue;
  margin-top: 6.75rem;
  /* top: 6rem;
  position: absolute; */
  width: 90%;
  height: 15rem;
  text-align: center;
}
/* .productCenter{
  background: linear-gradient(to right bottom, #9fb5dd, #364d79, #8391ac);
  margin: 3rem auto;
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.2rem;
  width: 80vw;
}
.product{
    margin: 1rem;
    background: linear-gradient(to right bottom, rgba(219, 210, 210, 0.9), #9fb5dd, #435f94, #8391ac);
    backdrop-filter: blur(0.4rem);
    padding: 0.8rem;
    border-radius: 0.2rem;
    height: 270px;
}
.product > h3{
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: #fff;
  margin-top: 5px;
  font-size: 1rem;
  text-align: left;
}
.product > h4{
  text-align: left;
  letter-spacing: 0.16rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: "#364d79";
  margin-bottom: 2rem
}
.underline{
  letter-spacing: normal;
  font-size: 0.8rem;
  text-align: left;
  color: #fff;
  text-decoration: line-through;
}
.clear{
  height: 2rem;
}
.imgContainer{
  position: relative;
  overflow: hidden;
}
.productImg{
  box-shadow: 0 2px 3px rgba(122,122,122, 0.8);
  display: block;
  height: 150px;
  width: 100%;
  transition: var(--mainTranstion);
}
.myBtn{
  letter-spacing: var(--mainSpacing);
  padding: 0.2rem 1rem 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.3rem);
  position: absolute;
  top: 60%;
  right: 0;
  box-shadow: 0 2px 2px rgba(122,122,122, 0.8);
  border-left: 1px solid rgb(34, 34, 92);
  border-top: 1px solid rgb(34, 34, 92);
  border-bottom: 1px solid rgb(34, 34, 92);
  color: rgb(34, 34, 92);
  transform: translateX(101%);
  transition: var(--mainTranstion);
}
.imgContainer:hover .productImg{
  opacity: 0.75;
}

.imgContainer:hover .myBtn{
  transform: translateX(1%);
  cursor: pointer;
} */