.product{
  background: var(--mainWhite);
  min-height: 270px;
  transition: box-shadow .2s ease-in-out;
}
.product:hover{
  box-shadow: var(--main-box-shadow);
}
.product > p{
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--main-black);
  margin-top: 5px;
  line-height: 1.25;
  font-size: .9rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}
.product > h4{
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 1.25;
  font-size: 1rem;
  color: #0f4bb9;
}
.underline{
  letter-spacing: normal;
  font-size: 0.9rem;
  text-align: center;
  color: var(--main-black);
  text-decoration: line-through;
}
.imgContainer{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.productImg{
  display: block;
  height: 12rem;
  width: 100%;
  transition: var(--mainTranstion);
}
.myBtn{
  letter-spacing: 0.05rem;
  padding: 0.35rem 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-black);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.3rem);
  position: absolute;
  top: 60%;
  right: 0;
  box-shadow: 0 2px 2px rgba(122,122,122, 0.8);
  border: 1px solid #c6c6c6;
  border-right: none;
  transform: translateX(101%);
  transition: var(--mainTranstion);
}
.imgContainer:hover .productImg{
  opacity: 0.95;
}
.myBtn:hover {
  columns: var(--mainWhite);
}
.imgContainer:hover .myBtn{  
  transform: translateX(0);
  cursor: pointer;
}