:root {
  --mainSpacing: 0.1rem;
  --mainTranstion: all .4s ease-in-out;
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --main-black: #222;
  --secondGray: #ececec;
  --mainGray: #c6c6c6;
  --main-box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  --mian-max-width: 1170px; 
}
.product{
  background: #fff;
  min-height: 270px;
  transition: box-shadow .2s ease-in-out;
}
.product:hover{
  box-shadow: 1px 2px 10px rgba(63, 63, 63, 0.3);
}
.product > h3{
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--main-black);
  margin-top: 5px;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}
.product > h4{
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: #0f4bb9;
}
.underline{
  letter-spacing: normal;
  font-size: 0.8rem;
  text-align: center;
  color: var(--main-black);
  text-decoration: line-through;
}
.imgContainer{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.productImg{
  display: block;
  height: 12rem;
  width: 100%;
  transition: var(--mainTranstion);
}
.myBtn{
  letter-spacing: 0.05rem;
  padding: 0.35rem 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-black);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.3rem);
  position: absolute;
  top: 60%;
  right: 0;
  box-shadow: 0 2px 2px rgba(122,122,122, 0.8);
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  transform: translateX(101%);
  transition: var(--mainTranstion);
}
.imgContainer:hover .productImg{
  opacity: 0.95;
}
.myBtn:hover {
  columns: var(--mainWhite);
}
.imgContainer:hover .myBtn{  
  transform: translateX(0);
  cursor: pointer;
}